* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color-light: #ffffff;
  --background-color-dark: #000000;
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  background-color: #fff;
}

.queue,
.watched {
  display: none;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}

.movie-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
  padding-top: 20px;
  background-color: var(--background-color-light);
  background-color: #fff;
}

.movie-wrapper__card {
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--background-color-light);
  transition: border 0.3s ease;
  cursor: pointer;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  flex-shrink: 0;
  height: auto;
  position: relative;
  background-color: #fff;
}

.movie-wrapper__card:hover {
  border: 1px solid var(--border-hover-color);
  box-shadow: 0 6px 22px var(--border-hover-color);
  scale: 1.02;
  background-color: #fff;
}

.movie-wrapper__card-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.movie-wrapper__footer {
  padding: 10px;
  color: var(--text-color-light);
}

.movie-wrapper__title {
  font-size: 16px;
  margin: 5px 0;
  font-weight: 500;
  text-transform: uppercase;
}

.movie-wrapper__info {
  font-size: 14px;
  color: #b92f2c;
  font-weight: 500;
  line-height: 16px;
}
.movie-wrapper__info-rating {
  background-color: #b92f2c;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 500px;
  display: inline-block;
  margin-left: 4px;
  position: absolute;
  left: 5%;
  top: 5%;
}

// mobile

//  tablet
@media screen and (768px <= width <= 1279px ){
  .movie-wrapper {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1279px;
  }
  .movie-wrapper__info {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }
  .movie-wrapper__card-img img {
    height: auto;
    width: auto;
    max-width: 100%;
  }

  .movie-wrapper__card {
    width: auto;
    max-width: 100%;  }
}

// desktop

@media (min-width: 1280px) {
  .movie-wrapper {
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .movie-wrapper__info {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
  .movie-wrapper__card-img img {
    height: auto;
    width: auto;
    max-width: 100%;
  }


  .queue,
  .watched {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 40px;
  }
}

body.dark-theme {
  --background-color-light: #000000;
  --text-color-light: #ffffff;
}

.dark {
  background-color: #393646;
}

.btn-dark {
  background-color: white;
  border: none;
  cursor: pointer;
  img {
    width: 30px;
    height: auto;
  }
}
