<header>
  <div class="container">
    <img
      class="abstract-background-image"
      src="./images/abstract-background-with-red-lines 1.png"
      alt="abstract-background-with-red-lines"
      width="1216"
    />
    <nav>
      <ul class="list-header-buttons flex">
        <div class="div-one-buttons flex">
          <li class="link search-bar-li">
            <div class="search-bar-div">
              <form class="search-form">
                <input
                  type="text"
                  class="search-input"
                  placeholder="Movie search"
                />
              </form>
              <svg
                class="search-svg"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <path
                  d="M7.33333 12.6667C10.2789 12.6667 12.6667 10.2789 12.6667 7.33333C12.6667 4.38781 10.2789 2 7.33333 2C4.38781 2 2 4.38781 2 7.33333C2 10.2789 4.38781 12.6667 7.33333 12.6667Z"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.9996 13.9996L11.0996 11.0996"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </li>
          <li class="link">
            <button class="home-button" type="button">Home</button>
          </li>
          <li class="link">
            <button class="my-library-button" type="button">My Library</button>
          </li>
        </div>
        <div class="div-two-buttons flex">
          <li class="link">
            <button class="watched-button" type="button">Watched</button>
          </li>
          <li class="link">
            <button class="queue-button" type="button">Queue</button>
          </li>
        </div>
      </ul>
    </nav>
    <div class="header-div-icon-title">
      <svg class="icon-film-svg" width="59" height="59">
        <use href="./images/icons defs.svg#icon-film"></use>
      </svg>
      <h2 class="filmoteka-title">Filmoteka</h2>
    </div>
  </div>
</header>
