<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./sass/modalwindow.scss" />
  </head>
  <body>
    <div class="gallery">
      <img
        class="modal-trigger"
        src="./images/abstract-background-with-red-lines 1.png"
        alt="Image 1"
        data-title="Title 1"
        data-description="Description 1"
      />
      <img
        class="modal-trigger"
        src="./images/image-library/library_background-desktop.jpg"
        alt="Image 2"
        data-title="Title 2"
        data-description="Description 2"
      />
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <div class="modal-image-div">
          <img
            class="image-modal"
            id="modalImage"
            src="./images/image-library/library_background@2x.jpg"
            alt=""
          />
        </div>
        <div class="modal-block">
          <span class="close">x</span>
          <h2 id="modalTitle"></h2>
          <p id="modalDescription"></p>
        </div>
      </div>
    </div>

    <script src="./js/modalWindow.js"></script>
  </body>
</html>
